html {
    box-sizing: border-box;
}

body{
    font-family: 'Sofia Sans', sans-serif ;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    list-style: none;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.navbrand img{
    width: 10rem;
}

nav{
    background-color: #F1F0EC;
    margin-bottom: 4rem;
}

nav a,
.nav-link{
    color: black;
}

.text__red,
.nav-link:hover{
    color: #FF4900;
}

.small{
    position: absolute;
    top: 10rem;
}

.hero{
    background-color: #FF4900;
    padding: 10rem 20rem;
}

.hero__main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero__lider{
    color: white;
    font-weight: 700;
}

.hero h1{
    font-weight: 700;
}

.hero p{
    color:#F1F0EC;
    font-size: 1.5rem;
    font-weight: 200;
}

.hero__arrow{
    font-size: 3rem;
    animation: bounce 2s infinite;
    display: block;
    text-align: center;
}

.hero.hero-black{
    background-color: black;
    color: #F1F0EC;
}

.hero.hero-black h1{
    background-color: black;
}

.hero.hero-black a{
    color: #FF4900;
    border: 1px solid #FF4900;
    padding: .3rem 1.2rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-top: 2rem;
    text-decoration: none;
}

.hero.hero-light{
    background-color: white;
}

.hero.hero-light p{
    color: black;
}

.container__main{
    width: 80vw;
}

main{
    background-color: black;
    color:#F1F0EC;
    padding: 5rem 18rem;
}

.main__title h3{
    font-weight: 500;
    font-size: 2.5rem;
}

.main__title p{
    font-weight: 400;
    font-size: 1.2rem;
    color: #8A887C;
    width: 30%;
}

.main-light{
    background-color: #F1F0EC;
    color: black;
    margin-top: 1px solid #8A887C;
}

.main__title div h5{
    font-weight: 700;
    color: #8A887C;
    margin: 1rem 0;
}

.main__title.about{
    margin: 8rem 0;
}

.main__title.about h3{
    margin-bottom: 2rem;
}

.traction__item{
    background-color: rgb(255, 72, 0);
    width: 20rem;
    padding: 1rem 2rem;
}

.traction__item p{
    color: black;
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
}

.traction__item small{
    color: black;
    text-align: center;
    font-weight: 200;
    font-size: 1rem;
    display: block;
}

.values__item{
    margin: 2rem 0;
    width: 20rem;
}

.values__icon{
    background-color: black;
    padding: 1rem;
    border-radius: .6rem;
    color: white;
    box-shadow: rgb(255, 72, 0, 0.5) 0px 4px 16px, rgb(255, 72, 0, 0.5) 0px 8px 24px, rgb(255, 72, 0, 0.1) 0px 16px 56px;
    margin-bottom: 1rem;
}

.values__item p{
    font-weight: 200;
    margin: 1rem 0;
    color: black;
    font-size: 1rem;
    width: 100%;
}

.box{
    width: 20rem;
    height: 10rem;
    padding: 1rem;
    margin: 2rem;
    vertical-align: middle;
    position: relative;
    background-color: black;
}

.box h4{
    font-weight: 200;
    width: 90%;
    font-size: 1.5rem;
}

.updates__button{
    padding: .3rem .8rem;
    font-size: .8rem;
    line-height: 1rem;
    border: 1px solid #FF4900;
}

.updates__button:hover{
    color: white;
    background-color: #FF4900;
    transition: ease .5s;
}

.box__course_img {
    width: 100%;
}

footer{
    background-color: black;
    color:#F1F0EC;
    padding: 5rem 18rem 0 18rem;
    position: relative;
}

footer div h3{
    font-weight: 500;
    font-size: 2.5rem;
    padding: 0 0 0.5rem 0;
}

form{
    font-weight: 200;
    
}

form label,
form input{
    background-color: black;
}

form input{
    border: .5px solid #a0a09f;
    color: #F1F0EC;
}

form button{
    border: 1px solid #F1F0EC;
    padding: .3rem .8rem;
    font-size: .6rem;
    color: black;
    margin: 1rem 0;
    font-weight: 700;
}

.social__icon{
    color: #F1F0EC;
    margin: 1rem;
}

.social__icon:hover{
    color: #FF4900;
    transition: ease-in .3s;
}

.footer__list-item a{
    color:#FF4900;
    margin: 0 4rem;
    text-decoration: none;
}

.footer__list-item a:hover{
    color:#F1F0EC;
}

.footer__list{
    position: absolute;
    right: 10rem;
    bottom: 15rem;
}

.footer__container{
    margin-top: 20rem;
}

.footer__nav{
    display: flex;
    justify-content: center;
}

.footer__owner{
    text-align: center;
}
.card__link-animation{
    display: flex;
    align-items: center;
    gap: 2px;
    position: absolute;
    bottom: 1rem;
}

.card__link-animation .card__hover:hover{
    margin-right: 10px;
    transition: ease-in-out .5s;
}

.github__link,
.card-link{
    color: #FF4900;
    text-decoration: none;
}

.color__primary,
.card__hover:hover{
    color: #FF4900;
}

.github__link:hover,
.color__secondary{
    color: #a0a09f;
}

.books__container{
    background-color: black;
    padding: 0 20rem;
    color: white;
}

.book__card{
    background-color: black;
    border: 1px solid #F1F0EC;
}

.btn-enviar:hover{
    background-color: #FF4900;
    color: #F1F0EC;
}

@media (max-width: 1700px) {
    .display-4 {
        font-size: 4vw;
      }
  
      .footer__list-item a{
          margin: 0;
      }

      .footer__text{
        text-align: center;
        padding: 2rem 2rem 0 2rem;
    }

    .footer__list-item{
        margin: 1rem;
    }
    
}


@media (max-width: 1400px) {
    .display-4 {
      font-size: 3vw;
    }

    footer{
        padding: 2rem;
    }

    .hero{
        padding: 10rem 5rem;
    }
  }

@media (max-width: 1200px) {
    .display-4 {
      font-size: 4vw;
    }

    .footer__list-item a{
        margin: 0;
    }

    .books__container{
        padding: 0 10rem;
    }

    .card__link-animation{
        margin-top: 2rem;
    }

    .hero.hero-black a{
        font-size: .8rem;
    }
  }



@media (max-width: 772px) {
    .display-4 {
      font-size: 2.7rem;
    }

    footer,
    main,
    .hero{
        padding: 2rem;
    }

    .footer__nav{
        flex-direction: column;
    }

    .footer__text{
        text-align: center;
        left: 0;
        position: relative;
        padding: 2rem 2rem 0 2rem;
    }

    .footer__list-item{
        margin: 1rem;
        text-align: center;
    }

    .footer__logo{
        position: relative;
        bottom: 2rem;
        right: 0;
    }

    .books__container{
        padding: 0 5rem;
    }
  }


